.parallax {
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: inherit;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  line-height: 0.9;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.scroller span {
  flex-shrink: 0;
  display: block;
  padding: 0 10px;
  transform: translateZ(0);
}

@media (min-width: 768px) {
  .scroller {
    font-size: 10rem;
  }
}
